/bower_components
/node_modules
/uploads/**
!uploads/README.md
.tmp/**
!.tmp/README.md
/build
/dist
/server-config.js
/release
.idea/misc.xml
.idea/modules.xml
.idea/vca-mosaico.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
